.search {
  position: relative;
}

.search__results {
  position: absolute;
  top: 100%;
  background-color: white;
  width: 100%;
  z-index: 10;
  background-color: #fefefe;
  box-shadow: -1px 10px 10px -10px rgba(0,0,0,0.75);
}

.gif-search__results {
  background-color: #131313;
}

.search__result {
  display: block;
  padding: 1em;
  border: 1px solid #ccc;
  border-bottom: 0;
}
.gif-search__result {
  display: inline-block;
  border-bottom: 0;
  width: 25%;
  height: 150px;
  background-color: #131313;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
